## Introduction

- Web 1.0 static websites (fixed text and image)
- Web 2.0 dynamic websites (php, asp.net)
- Web 3.0 semantic web (semantic webs) (makes up an important part of machine learning and ai)
> ex: Google's answer when asked what time is it in Istanbul
- Web 4.0 (personal agents) (bringing personalized blended results)

**Metodoloji: CRISP-DM** [1]


<center><h1><strong></strong></h1>
<img
src="https://upload.wikimedia.org/wikipedia/commons/b/b9/CRISP-DM_Process_Diagram.png" width ="350">
</center>

## Import Libraries

In [93]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Reading Data

In [94]:
df = pd.read_csv("/dataset1.csv")

## Missing Values

In [98]:
df = pd.read_csv("/missing_values.csv")

In [99]:
df.head()

  ulke  boy  kilo   yas cinsiyet
0   tr  130    30  10.0        e
1   tr  125    36  11.0        e
2   tr  135    34  10.0        k
3   tr  133    30   9.0        k
4   tr  129    38  12.0        e

In [100]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values = np.nan, strategy = "mean")

age = df.iloc[:,1:4].values
print(age)

[[130.  30.  10.]
 [125.  36.  11.]
 [135.  34.  10.]
 [133.  30.   9.]
 [129.  38.  12.]
 [180.  90.  30.]
 [190.  80.  25.]
 [175.  90.  35.]
 [177.  60.  22.]
 [185. 105.  33.]
 [165.  55.  27.]
 [155.  50.  44.]
 [160.  58.  nan]
 [162.  59.  41.]
 [167.  62.  55.]
 [174.  70.  47.]
 [193.  90.  nan]
 [187.  80.  27.]
 [183.  88.  28.]
 [159.  40.  29.]
 [164.  66.  32.]
 [166.  56.  42.]]

In [101]:
imputer = imputer.fit(age[:,1:4])
age[:,1:4] = imputer.transform(age[:,1:4])
print(age)

[[130.    30.    10.  ]
 [125.    36.    11.  ]
 [135.    34.    10.  ]
 [133.    30.     9.  ]
 [129.    38.    12.  ]
 [180.    90.    30.  ]
 [190.    80.    25.  ]
 [175.    90.    35.  ]
 [177.    60.    22.  ]
 [185.   105.    33.  ]
 [165.    55.    27.  ]
 [155.    50.    44.  ]
 [160.    58.    28.45]
 [162.    59.    41.  ]
 [167.    62.    55.  ]
 [174.    70.    47.  ]
 [193.    90.    28.45]
 [187.    80.    27.  ]
 [183.    88.    28.  ]
 [159.    40.    29.  ]
 [164.    66.    32.  ]
 [166.    56.    42.  ]]

## Categoric Variable


<center><h1><strong></strong></h1>
<img
src="https://cdn.builtin.com/sites/www.builtin.com/files/styles/ckeditor_optimize/public/inline-images/national/data%2520types%2520examples.png" width ="500">
</center>

Data Types [2]

**Categorical**

Exp:
- smoking - not smoking
- man - woman

can not compareable

`Ordinal number`: can order, can be bigger or lower, but immeasurable

`Nominal number`: cannot order and immeasurable

**Numerirical**

`Ratio`: can be proportional, multiplied and divided. -> age

`Interval`: values that accept addition but not multiplication -> temperature

In [102]:
df = pd.read_csv("/dataset1.csv")

In [103]:
country = df.iloc[:,0:1].values
country

array([['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr']], dtype=object)

In [104]:
country[:,0]

array(['tr', 'tr', 'tr', 'tr', 'tr', 'tr', 'tr', 'tr', 'tr', 'us', 'us',
       'us', 'us', 'us', 'us', 'fr', 'fr', 'fr', 'fr', 'fr', 'fr', 'fr'],
      dtype=object)

In [105]:
# encoder categoric -> numeric
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

country[:,0] = le.fit_transform(df.iloc[:,0])
country

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0]], dtype=object)

In [106]:
ohe = preprocessing.OneHotEncoder()

country = ohe.fit_transform(country).toarray()
country

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

## DataFrame

In [107]:
result = pd.DataFrame(data = country, index = range(22), columns = ['fr','tr','us'])

In [108]:
result.head()

    fr   tr   us
0  0.0  1.0  0.0
1  0.0  1.0  0.0
2  0.0  1.0  0.0
3  0.0  1.0  0.0
4  0.0  1.0  0.0

In [109]:
result2 = pd.DataFrame(data = age, index = range(22), columns = ["height","weight","age"])

In [110]:
result2.head()

   height  weight   age
0   130.0    30.0  10.0
1   125.0    36.0  11.0
2   135.0    34.0  10.0
3   133.0    30.0   9.0
4   129.0    38.0  12.0

In [111]:
gender = df.iloc[:,-1].values

result3 = pd.DataFrame(data = gender, index = range(22), columns = ["gender"])

In [112]:
result3.head()

  gender
0      e
1      e
2      k
3      k
4      e

In [113]:
pd.concat([result, result2]) # happend vertical

     fr   tr   us  height  weight    age
0   0.0  1.0  0.0     NaN     NaN    NaN
1   0.0  1.0  0.0     NaN     NaN    NaN
2   0.0  1.0  0.0     NaN     NaN    NaN
3   0.0  1.0  0.0     NaN     NaN    NaN
4   0.0  1.0  0.0     NaN     NaN    NaN
5   0.0  1.0  0.0     NaN     NaN    NaN
6   0.0  1.0  0.0     NaN     NaN    NaN
7   0.0  1.0  0.0     NaN     NaN    NaN
8   0.0  1.0  0.0     NaN     NaN    NaN
9   0.0  0.0  1.0     NaN     NaN    NaN
10  0.0  0.0  1.0     NaN     NaN    NaN
11  0.0  0.0  1.0     NaN     NaN    NaN
12  0.0  0.0  1.0     NaN     NaN    NaN
13  0.0  0.0  1.0     NaN     NaN    NaN
14  0.0  0.0  1.0     NaN     NaN    NaN
15  1.0  0.0  0.0     NaN     NaN    NaN
16  1.0  0.0  0.0     NaN     NaN    NaN
17  1.0  0.0  0.0     NaN     NaN    NaN
18  1.0  0.0  0.0     NaN     NaN    NaN
19  1.0  0.0  0.0     NaN     NaN    NaN
20  1.0  0.0  0.0     NaN     NaN    NaN
21  1.0  0.0  0.0     NaN     NaN    NaN
0   NaN  NaN  NaN   130.0    30.0  10.00
1   NaN  NaN  NaN   125.0    36.0  11.00
2   NaN  NaN  NaN   135.0    34.0  10.00
3   NaN  NaN  NaN   133.0    30.0   9.00
4   NaN  NaN  NaN   129.0    38.0  12.00
5   NaN  NaN  NaN   180.0    90.0  30.00
6   NaN  NaN  NaN   190.0    80.0  25.00
7   NaN  NaN  NaN   175.0    90.0  35.00
8   NaN  NaN  NaN   177.0    60.0  22.00
9   NaN  NaN  NaN   185.0   105.0  33.00
10  NaN  NaN  NaN   165.0    55.0  27.00
11  NaN  NaN  NaN   155.0    50.0  44.00
12  NaN  NaN  NaN   160.0    58.0  28.45
13  NaN  NaN  NaN   162.0    59.0  41.00
14  NaN  NaN  NaN   167.0    62.0  55.00
15  NaN  NaN  NaN   174.0    70.0  47.00
16  NaN  NaN  NaN   193.0    90.0  28.45
17  NaN  NaN  NaN   187.0    80.0  27.00
18  NaN  NaN  NaN   183.0    88.0  28.00
19  NaN  NaN  NaN   159.0    40.0  29.00
20  NaN  NaN  NaN   164.0    66.0  32.00
21  NaN  NaN  NaN   166.0    56.0  42.00

In [114]:
m = pd.concat([result, result], axis = 1) # by number of lines
m

     fr   tr   us   fr   tr   us
0   0.0  1.0  0.0  0.0  1.0  0.0
1   0.0  1.0  0.0  0.0  1.0  0.0
2   0.0  1.0  0.0  0.0  1.0  0.0
3   0.0  1.0  0.0  0.0  1.0  0.0
4   0.0  1.0  0.0  0.0  1.0  0.0
5   0.0  1.0  0.0  0.0  1.0  0.0
6   0.0  1.0  0.0  0.0  1.0  0.0
7   0.0  1.0  0.0  0.0  1.0  0.0
8   0.0  1.0  0.0  0.0  1.0  0.0
9   0.0  0.0  1.0  0.0  0.0  1.0
10  0.0  0.0  1.0  0.0  0.0  1.0
11  0.0  0.0  1.0  0.0  0.0  1.0
12  0.0  0.0  1.0  0.0  0.0  1.0
13  0.0  0.0  1.0  0.0  0.0  1.0
14  0.0  0.0  1.0  0.0  0.0  1.0
15  1.0  0.0  0.0  1.0  0.0  0.0
16  1.0  0.0  0.0  1.0  0.0  0.0
17  1.0  0.0  0.0  1.0  0.0  0.0
18  1.0  0.0  0.0  1.0  0.0  0.0
19  1.0  0.0  0.0  1.0  0.0  0.0
20  1.0  0.0  0.0  1.0  0.0  0.0
21  1.0  0.0  0.0  1.0  0.0  0.0

In [115]:
m2 = pd.concat([m, result3], axis=1)
m2 # last dataframe

     fr   tr   us   fr   tr   us gender
0   0.0  1.0  0.0  0.0  1.0  0.0      e
1   0.0  1.0  0.0  0.0  1.0  0.0      e
2   0.0  1.0  0.0  0.0  1.0  0.0      k
3   0.0  1.0  0.0  0.0  1.0  0.0      k
4   0.0  1.0  0.0  0.0  1.0  0.0      e
5   0.0  1.0  0.0  0.0  1.0  0.0      e
6   0.0  1.0  0.0  0.0  1.0  0.0      e
7   0.0  1.0  0.0  0.0  1.0  0.0      e
8   0.0  1.0  0.0  0.0  1.0  0.0      k
9   0.0  0.0  1.0  0.0  0.0  1.0      e
10  0.0  0.0  1.0  0.0  0.0  1.0      k
11  0.0  0.0  1.0  0.0  0.0  1.0      k
12  0.0  0.0  1.0  0.0  0.0  1.0      k
13  0.0  0.0  1.0  0.0  0.0  1.0      k
14  0.0  0.0  1.0  0.0  0.0  1.0      k
15  1.0  0.0  0.0  1.0  0.0  0.0      e
16  1.0  0.0  0.0  1.0  0.0  0.0      e
17  1.0  0.0  0.0  1.0  0.0  0.0      e
18  1.0  0.0  0.0  1.0  0.0  0.0      e
19  1.0  0.0  0.0  1.0  0.0  0.0      k
20  1.0  0.0  0.0  1.0  0.0  0.0      k
21  1.0  0.0  0.0  1.0  0.0  0.0      k

In [116]:
# compare with first dataframe
df

   ulke  boy  kilo  yas cinsiyet
0    tr  130    30   10        e
1    tr  125    36   11        e
2    tr  135    34   10        k
3    tr  133    30    9        k
4    tr  129    38   12        e
5    tr  180    90   30        e
6    tr  190    80   25        e
7    tr  175    90   35        e
8    tr  177    60   22        k
9    us  185   105   33        e
10   us  165    55   27        k
11   us  155    50   44        k
12   us  160    58   39        k
13   us  162    59   41        k
14   us  167    62   55        k
15   fr  174    70   47        e
16   fr  193    90   23        e
17   fr  187    80   27        e
18   fr  183    88   28        e
19   fr  159    40   29        k
20   fr  164    66   32        k
21   fr  166    56   42        k

## Train Test Split

In [117]:
# Prediction gender by country height, weight and age

In [127]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(m, result3, test_size=0.33, random_state=0)

# x: independent variable
# y: dependent variable

## Feature Scaling

In [130]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

In [132]:
X_train = sc.fit_transform(x_train)
X_test = sc.fit_transform(x_test)

Resource:

- [1] CRISP-DM Diagram - https://commons.wikimedia.org/wiki/File:CRISP-DM_Process_Diagram.png

- [2] Data Types: https://cdn.builtin.com/sites/www.builtin.com/files/styles/ckeditor_optimize/public/inline-images/national/data%2520types%2520examples.png